<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.1.3/axios.min.js" integrity="sha512-0qU9M9jfqPw6FKkPafM3gy2CBAvUWnYVOfNPDYKVuRTel1PrciTj+a9P3loJB+j0QmN2Y0JYQmkBBS8W+mbezg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
  let userId = '<%- userId %>'
</script>
<script>
  const arrayEquals = (a, b) => {
    return Array.isArray(a) &&
        Array.isArray(b) &&
        a.length === b.length &&
        a.every((val, index) => val === b[index]);
}
  let bet = 0;
  let win = false;
  const setBet = (e,num) => {
    bet = num
    document.querySelectorAll('.bet-button').forEach(function(button) {
    // Now do something with my button
    button.style.color = 'white'
    });
    e.style.color = 'gold'
  }
  let arr = [1,2,3,4,5,6]
  function shuffle(array) {
    const newArray = [...array]
    const length = newArray.length
    for (let start = 0; start < length; start++) {
      const randomPosition = Math.floor((newArray.length - start) * Math.random())
      const randomItem = newArray.splice(randomPosition, 1)
      newArray.push(...randomItem)
    }
    return newArray
  }
  let firstArray = shuffle(arr)
  let secondArray = shuffle(arr)
  let thirdArray = shuffle(arr)
  
  const initialize = () => {
    axios.get('https://www.khadmty1.com/api/WalletApi/GetGameCalc')
    .then((data) => {
      let income = data.data.incomeBalance;
      let outcome = data.data.outcomeBalance;
      let target = data.data.targetPercent;
      let x = parseInt(outcome)/parseInt(income);
      x = x * 100;
      win = x <= target
      if(win) {
        let randomNumberOne = firstArray[0] >= 6 ? 5 : firstArray[0];
        let randomNumberTwo = secondArray[0] >= 6 ? 5 : secondArray[0];
        let randomNumberThree = thirdArray[0] >= 6 ? 5 : thirdArray[0];
        document.getElementById('casino1').innerHTML = ` <div id="casino1slotMachineContainer" class="slotMachineContainer" style="transition: all 1s ease-out 0s; transform: matrix(1, 0, 0, 1, 0, ${ randomNumberOne * -1 * 100});">
            </div>`
            document.getElementById('casino2').innerHTML = ` <div id="casino2slotMachineContainer" class="slotMachineContainer" style="transition: all 1s ease-out 0s; transform: matrix(1, 0, 0, 1, 0, ${ randomNumberTwo * -1 * 100});">
            </div>`
            document.getElementById('casino3').innerHTML = ` <div id="casino3slotMachineContainer" class="slotMachineContainer" style="transition: all 1s ease-out 0s; transform: matrix(1, 0, 0, 1, 0, ${ randomNumberThree * -1 * 100});">
            </div>`
        for (let a = 0 ; a < firstArray.length; a++){
          document.getElementById('casino1slotMachineContainer').innerHTML += `<div class="slot slot${firstArray[a]}"></div> `;
          
        }
        for (let b = 0 ; b < secondArray.length; b++){
          document.getElementById('casino2slotMachineContainer').innerHTML += `<div class="slot slot${secondArray[b]}"></div> `;
        }
        for (let c = 0 ; c < thirdArray.length; c++){
          document.getElementById('casino3slotMachineContainer').innerHTML += `<div class="slot slot${thirdArray[c]}"></div> `;
        }
      } else {
        let randomNumberOne = firstArray[0] >= 6 ? 5 : firstArray[0];
        let randomNumberTwo = secondArray[0] >= 6 ? 5 : secondArray[0];
        let randomNumberThree = thirdArray[0] >= 6 ? 5 : thirdArray[0];
        document.getElementById('casino1').innerHTML = ` <div id="casino1slotMachineContainer" class="slotMachineContainer" style="transition: all 1s ease-out 0s; transform: matrix(1, 0, 0, 1, 0, ${ randomNumberOne * -1 * 100});">
            </div>`
            document.getElementById('casino2').innerHTML = ` <div id="casino2slotMachineContainer" class="slotMachineContainer" style="transition: all 1s ease-out 0s; transform: matrix(1, 0, 0, 1, 0, ${ randomNumberTwo * -1 * 100});">
            </div>`
            document.getElementById('casino3').innerHTML = ` <div id="casino3slotMachineContainer" class="slotMachineContainer" style="transition: all 1s ease-out 0s; transform: matrix(1, 0, 0, 1, 0, ${ randomNumberThree * -1 * 100});">
            </div>`
        for (let a = 0 ; a < firstArray.length; a++){
          document.getElementById('casino1slotMachineContainer').innerHTML += `<div class="slot slot${firstArray[a]}"></div> `;
          
        }
        for (let b = 0 ; b < secondArray.length; b++){
          document.getElementById('casino2slotMachineContainer').innerHTML += `<div class="slot slot${secondArray[b]}"></div> `;
        }
        for (let c = 0 ; c < thirdArray.length; c++){
          document.getElementById('casino3slotMachineContainer').innerHTML += `<div class="slot slot${thirdArray[c]}"></div> `;
        }
      }

    })
    .catch(err => {
      console.error(err)
    })
  }
  initialize()
  let won = false
  let lostAndForAll = false
  function getResults() {
      let casino1 =  document.getElementById("casino1")
      let casino1SlotResult = null;
      for(let x = 0; x < 6; x++){
        console.log(x)
        let element = casino1.children[0].children[x];
        console.log(element)
        let boundaries = element.getBoundingClientRect();
        if(boundaries.x - casino1.getBoundingClientRect().x < 10 && boundaries.x - casino1.getBoundingClientRect().x > 0 && boundaries.y - casino1.getBoundingClientRect().y < 10 && boundaries.y - casino1.getBoundingClientRect().y > 0){
          casino1SlotResult = parseInt(element.classList[1][4])
          break;
        }
      }
      
      let casino2 =  document.getElementById("casino2")
      let casino2SlotResult = null;
      for(let x = 0; x < 6; x++){
        let boundaries = casino2.children[0].children[x].getBoundingClientRect();
        if(boundaries.x - casino2.getBoundingClientRect().x < 10 && boundaries.x - casino2.getBoundingClientRect().x > 0 && boundaries.y - casino2.getBoundingClientRect().y < 10 && boundaries.y - casino2.getBoundingClientRect().y > 0){
          casino2SlotResult = parseInt(casino2.children[0].children[x].classList[1][4])
          break;
        }
      }
      let casino3 =  document.getElementById("casino3")
      let casino3SlotResult = null;
      for(let x = 0; x < 6; x++){
        let boundaries = casino3.children[0].children[x].getBoundingClientRect();
        if(boundaries.x - casino3.getBoundingClientRect().x < 10 && boundaries.x - casino3.getBoundingClientRect().x > 0 && boundaries.y - casino3.getBoundingClientRect().y < 10 && boundaries.y - casino3.getBoundingClientRect().y > 0){
          casino3SlotResult = parseInt(casino3.children[0].children[x].classList[1][4])
          break;
        }
      }
      if (casino1SlotResult === casino2SlotResult && casino2SlotResult === casino3SlotResult) {
        return casino1SlotResult
      } else {
        false
      }
    }
  const started = (e) => {
    const btnShuffle = document.querySelector('#casinoShuffle');
      const btnStop = document.querySelector('#casinoStop');
      const casino1 = document.querySelector('#casino1');
      const casino2 = document.querySelector('#casino2');
      const casino3 = document.querySelector('#casino3');
      const mCasino1 = new SlotMachine(casino1, {
        active: 0,
        delay: 500
      });
      const mCasino2 = new SlotMachine(casino2, {
        active: 1,
        delay: 500
      });
      const mCasino3 = new SlotMachine(casino3, {
        active: 2,
        delay: 500
      });
    mCasino1.shuffle(3000);
    mCasino2.shuffle(3000);
    mCasino3.shuffle(3000);
    firstArray = shuffle(firstArray)
    secondArray = shuffle(firstArray)
    thirdArray = shuffle(firstArray)
    let randomNumberTwo = secondArray[0] >= 6 ? 5 : secondArray[0];
    let randomNumberThree = thirdArray[0] >= 6 ? 5 : thirdArray[0];
    let randomNumberOne = firstArray[0] >= 6 ? 5 : firstArray[0];
    setTimeout(()=>{
      if(win) {
        document.getElementById('casino1').innerHTML = ` <div id="casino1slotMachineContainer" class="slotMachineContainer" style="transition: all 1s ease-out 0s; transform: matrix(1, 0, 0, 1, 0, ${ randomNumberOne * -1 * 100});">
            </div>`
        for (let a = 0 ; a < firstArray.length; a++){
          document.getElementById('casino1slotMachineContainer').innerHTML += `<div class="slot slot${firstArray[a]}"></div> `;
        }
      }
        mCasino1.stop()
      },2000)
      setTimeout(()=>{
        if(win) {
          randomNumberTwo = secondArray[0] >= 6 ? 5 : secondArray[0];
          
          document.getElementById('casino2').innerHTML = ` <div id="casino2slotMachineContainer" class="slotMachineContainer" style="transition: all 1s ease-out 0s; transform: matrix(1, 0, 0, 1, 0, ${ randomNumberTwo * -1 * 100});">
            </div>`
      } else {
        lostAndForAll = true
        document.getElementById('casino2').innerHTML = ` <div id="casino2slotMachineContainer" class="slotMachineContainer" style="transition: all 1s ease-out 0s; transform: matrix(1, 0, 0, 1, 0, ${ randomNumberOne * -1 * 100});">
            </div>`   
        }
      for (let b = 0 ; b < secondArray.length; b++){
              document.getElementById('casino2slotMachineContainer').innerHTML += `<div class="slot slot${secondArray[b]}"></div> `;
          }
        mCasino2.stop()
      },4000)
      setTimeout(()=>{
        if(win) {
          let randomNumberThree = thirdArray[0] >= 6 ? 5 : thirdArray[0];
          if(randomNumberTwo === randomNumberOne && arrayEquals(firstArray, secondArray)) {
            if(randomNumberThree === randomNumberOne && arrayEquals(secondArray, thirdArray)) {
              lostAndForAll = false
              won = true
            }
          }
          document.getElementById('casino3').innerHTML = ` <div id="casino3slotMachineContainer" class="slotMachineContainer" style="transition: all 1s ease-out 0s; transform: matrix(1, 0, 0, 1, 0, ${ randomNumberThree * -1 * 100});"></div>`
        } else {
          document.getElementById('casino3').innerHTML = ` <div id="casino3slotMachineContainer" class="slotMachineContainer" style="transition: all 1s ease-out 0s; transform: matrix(1, 0, 0, 1, 0, ${ randomNumberOne * -1 * 100});"></div>`
        }
        for (let c = 0 ; c < thirdArray.length; c++){
          document.getElementById('casino3slotMachineContainer').innerHTML += `<div class="slot slot${thirdArray[c]}"></div> `;
        }
        mCasino3.stop()
        axios.post(`https://www.khadmty1.com/api/WalletApi/Deductbalance`,{
          "ApplicationUserId":`${userId}`,
          "Balance": bet
        })
        .then((data) => console.log(data))
        .catch(err => console.error(err))
        let gameEndResult = getResults();
        console.log(gameEndResult)
        if(win && gameEndResult) {
          axios.post('https://www.khadmty1.com/api/WalletApi/GameResult',{
          "ApplicationUserId":`${userId}`,
          "Result": win,
          "Balance": bet,
          "ItemId": win && gameEndResult ? gameEndResult : null
          })
          .then((data)=>{ console.log("168 data", data.data) })
          .catch((err)=> console.error(err))
        }
        var modal = document.getElementById("myModal");
        console.log("220", modal)
        var span = document.getElementsByClassName("close")[0];
        span.style.color="red"
        modal.style.display = "block";
        span.onclick = function() {
          modal.style.display = "none";
        }
        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
          if (event.target == modal) modal.style.display = "none";
        }
        document.getElementById("modalContent").innerHTML = !won && !gameEndResult ? "Better Luck Next Time!" : "Congratulations!"
        document.getElementById("startLink").innerText = "Try Again!"
        document.getElementById("startLink").onclick = function () {
          window.location.reload();
        }
        document.getElementById("tryAgain").onclick = function () {
          window.location.reload();
        }
      },6000)
    }
</script>
</body>
</html>
