<%- include('./partials/header'); %>
<div class="my-container">
  <div class="button-container"><a href="/magic?bet=100" class="btn-grad">100</a></div>
  <div class="button-container"><a href="/magic?bet=200" class="btn-grad">200</a></div>
  <div class="button-container"><a href="/magic?bet=300" class="btn-grad">300</a></div>
</div>


  <%- include('./partials/footer'); %>

