<%- include('./partials/header'); %>
<div class="my-container">
  <h1 style="color: #E3B448; width:80%; font-family: 'Pacifico', cursive;">Welcome !</h1>
  <div class="button-container"><a href="/bet" class="btn-grad">Start</a></div>
</div>


  <%- include('./partials/footer'); %>

