<%- include('./partials/header'); %>
<div class="my-container" style="margin: 0; padding:0; min-height: 200px;">
  <h1 style="color: #E3B448; width:100%; font-family: 'Pacifico', cursive;">Welcome !</h1>
  
</div>
<div id="casino" style="padding-top:0;">
    <div class="content">
      <div>
        <div id="casino1" class="slotMachine" style="margin-left: -65px; overflow: hidden;">
          <% if(won) { %>
            <div id="casino1slotMachineContainer" class="slotMachineContainer" style="transition: all 1s ease-out 0s; transform: matrix(1, 0, 0, 1, 0, -100);">
            </div>
          <% } else { %>  
            <div id="casino1slotMachineContainer" class="slotMachineContainer" style="transition: all 1s ease-out 0s; transform: matrix(1, 0, 0, 1, 0, -100);">
            </div>
          <% } %>  
        </div>
        <div id="casino2" class="slotMachine" style="overflow: hidden;">
          <% if(won) { %>
            <div id="casino2slotMachineContainer" class="slotMachineContainer" style="transition: all 1s ease-out 0s; transform: matrix(1, 0, 0, 1, 0, -400);">
            </div>
            <% } else { %>  
              <div id="casino2slotMachineContainer" class="slotMachineContainer" style="transition: all 1s ease-out 0s; transform: matrix(1, 0, 0, 1, 0, -400);"></div>
          <% } %>
        </div>
        <div id="casino3" class="slotMachine" style="overflow: hidden;"> 
          <% if(won) { %>
            <div id="casino3slotMachineContainer" class="slotMachineContainer" style="transition: all 1s ease-out 0s; transform: matrix(1, 0, 0, 1, 0, -700);">
            </div>
          <% } else { %>  
            <div id="casino3slotMachineContainer" class="slotMachineContainer" style="transition: all 1s ease-out 0s; transform: matrix(1, 0, 0, 1, 0, -700);">
            </div>
          <% } %> 
        </div>
        <div class="btn-group btn-group-justified" role="group" style="visibility:hidden">
          <div id="casinoShuffle" type="button" class="btn btn-primary btn-lg">Enjoy</div>
          <div id="casinoStop" type="button" class="btn btn-primary btn-lg">Our Game</div>
        </div>
      </div>
    </div>
  </div>
  <div class="my-container" style="min-height:200px;">
    <h5 style="color: #E3B448; font-family: 'Pacifico', cursive; width: 75%; text-align: center;">Set Your Bet</h5>
    <div class="button-container" style="width:52%;"><a onclick="setBet(this,100)" class="btn-grad bet-button" style="cursor: pointer; color: white;">100</a></div>
    <div class="button-container" style="width:52%;"><a onclick="setBet(this,200)" class="btn-grad bet-button"  style="cursor: pointer;  color: white;">200</a></div>
    <div class="button-container" style="width:52%;"><a onclick="setBet(this,300)" class="btn-grad bet-button"  style="cursor: pointer;  color: white;">300</a></div>
    <div class="button-container" style="width:60%;"><a id="startLink" onclick="started()" class="btn-grad bet-button"  style="cursor: pointer; color: white;">Start</a></div>
  </div>
  <div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
      <!-- <span class="close" style="display: block; align-self: flex-start;">&times;</span> -->
      <p  style="color: #7a2828; font-family: 'Pacifico', cursive; width: 80%; font-size: 40px; text-align: center;" id="modalContent"></p>
      <span class="close" style="display: block; align-self: flex-start; width: 20%;"></span>
      <div class="button-container" style="width:30%; align-self: flex-end;"><a id="tryAgain" onclick="tryAgain()" class="btn-grad bet-button"  style="cursor: pointer; color: white;">Try Again</a></div>
    </div>
  
  </div>
  <%- include('./partials/footer'); %>

