#casino {
    /* border-top: 20px dashed rgb(180, 75, 119);
    border-bottom: 10px solid #A48E4E;
    background-color: rgb(240, 150, 150); */
  }
  
  #casino .content:nth-child(1) {
    /* contains everything */
    background-color: blue;
    text-align: center;
    /* if you increase the 80 px, the machine itself gets lower */
    background: url('/machine.png') no-repeat 50% 80px;
    background-size: 290px;
    /* if you increase the 30px the machine moves to the right */
    background-position-x: calc(50% + 30px);
    /* the 10px does not have much effect */
    /* min-height: 10px; */
  }
  
  #casino .content > div {
      /* increasing the padding top moves the icons lower */
      /* padding-top: 167px; */
      /* background-color: #333; */
      /* contains the entire content the sl*/
      width: 240px;
      margin: 0 auto;
      /* changing the 30px moves the 3 slots to the right*/
      /* transform: translateX(45px); */
    padding-top: 240px;
    width: 300px;
    margin: 0 auto;
    transform: translateX(30px);
  }
  
  .machineContainer{
    /* padding: 5px 1px 5px 1px; */
    height: 135px;
  }
  
  .slotMachine {
    width: 36.333333%;
    border: 5px solid #FFCC33;
    height: 100px;
    display: inline-block;
  }